<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>number_compartment_cars:</strong>
  <%= @train.number_compartment_cars %>
</p>

<p>
  <strong>number_seat_cars:</strong>
  <%= @train.number_seat_cars %>
</p>

<p>
  <strong>top_places_in_compartment_cars:</strong>
  <%= @train.top_places_in_compartment_cars %>
</p>

<p>
  <strong>lower_places_in_compartment_cars:</strong>
  <%= @train.lower_places_in_compartment_cars %>
</p>

<p>
  <strong>top_places_in_seat_cars:</strong>
  <%= @train.top_places_in_seat_cars %>
</p>

<p>
  <strong>lower_places_in_seat_cars:</strong>
  <%= @train.lower_places_in_seat_cars %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
      <%= @train.current_station.title %>
  <% else %>
      Не указано
  <% end %>
</p>

<p>
  <strong>На маршруте:</strong>
  <% if @train.route.present? %>
      <%= @train.route.name %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
