<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
      <%= @train.current_station.title %>
  <% else %>
      Не указано
  <% end %>
</p>

<p>
  <strong>На маршруте:</strong>
  <% if @train.route.present? %>
      <%= @train.route.name %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
