<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>number_compartment_cars:</strong>
  <%= @train.number_compartment_cars %>
</p>

<p>
  <strong>number_economy_cars:</strong>
  <%= @train.number_economy_cars %>
</p>

<p>
  <strong>top_places_in_compartment_cars:</strong>
  <%= @train.count_places('CompartmentCar', :top_places) %>
</p>

<p>
  <strong>lower_places_in_compartment_cars:</strong>
  <%= @train.count_places('CompartmentCar', :lower_places) %>
</p>

<p>
  <strong>top_places_in_economy_cars:</strong>
  <%= @train.count_places('EconomyCar', :top_places) %>
</p>

<p>
  <strong>lower_places_in_seat_cars:</strong>
  <%= @train.count_places('EconomyCar', :lower_places) %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
      <%= @train.current_station.title %>
  <% else %>
      Не указано
  <% end %>
</p>

<p>
  <strong>На маршруте:</strong>
  <% if @train.route.present? %>
      <%= @train.route.name %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Вагоны поезда:</strong>
  <% @train.cars.ordered_by(@train.car_ordering).each do |car| %>
      <tr>
        <td><%= link_to car.car_order, car %></td>
      </tr>
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
