<%= form_for([:admin, train, car], :builder => CarsHelper::CarsFormBuilder) do |f| %>
    <%= render 'common/errors', resource: car %>

    <div class="field">
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </div>

    <div class="field type-car">
      <%= f.label :type %><br>
      <%= f.type_select @type %>
    </div>

    <% if car.has_seats?(:lower_places) %>
        <div class="field hidden lower_places" >
          <%= f.label :lower_places %><br>
          <%= f.number_field :lower_places %>
        </div>
    <% end %>

    <% if @type== "Car" || %w(CompartmentCar EconomyCar).include?(@type) %>
        <div class="field hidden top_places">
          <%= f.label :top_places %><br>
          <%= f.number_field :top_places %>
        </div>
    <% end %>

    <% if @type== "Car" || %w(EconomyCar).include?(@type) %>
        <div class="field hidden lower_side_places">
          <%= f.label :lower_side_places %><br>
          <%= f.number_field :lower_side_places %>
        </div>
    <% end %>

    <% if @type== "Car" || %w(EconomyCar).include?(@type) %>
        <div class="field hidden top_side_places">
          <%= f.label :top_side_places %><br>
          <%= f.number_field :top_side_places %>
        </div>
    <% end %>

    <% if @type== "Car" || %w(SeatCar).include?(@type) %>
        <div class="field hidden seat_places">
          <%= f.label :seat_places %><br>
          <%= f.number_field :seat_places %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :train, "Поезд" %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>