<h1>Привет, Rails!</h1>
<%= link_to 'Список станций', admin_railway_stations_path %>
<%= link_to 'Список поездов', admin_trains_path %>
<%= link_to 'Список маршрутов', admin_routes_path %>
<%= link_to 'Список вагонов', admin_cars_path %>
<%= link_to 'Поиск билета', search_path %>
<%= link_to_tickets %>
