<h1>Editing Tickets</h1>

<p><strong>Train number: </strong><%= @ticket.train.number %></p>
<p><strong>Departure station: </strong><%= @ticket.start_station.title %></p>
<p><strong>Arrival station: </strong><%= @ticket.end_station.title %></p>

<%= render 'form' %>

<%= link_to 'Show', @ticket %> |
<%= link_to 'Back', tickets_path %>
