<h1>Buying ticket</h1>

<p>Train number</p>
<p><%= @train.number %></p>

<p>Departure station</p>
<p><%= @start_station.title %></p>

<p>Arrival station</p>
<p><%= @end_station.title %></p>

<h1>Passenger info</h1>
<%= form_for(@ticket) do |f| %>
    <%= render 'common/errors', resource: @ticket %>

    <%= f.hidden_field :train_id %>
    <%= f.hidden_field :start_station_id %>
    <%= f.hidden_field :end_station_id %>

    <div class="field">
      <%= f.label :passenger_name, "Passenger name" %>
      <%= f.text_field :passenger_name %>
    </div>

    <div class="field">
      <%= f.label :passenger_passport, "Passenger passport" %>
      <%= f.text_field :passenger_passport %>
    </div>

    <div class="actions">
      <%= f.submit "Buy ticket" %>
    </div>
<% end %> 
