<h1>Ticket info</h1>

<p><strong>Ticket owner: </strong><%= @ticket.user.email %></p>

<p><strong>Train number: </strong><%= @ticket.train.number %></p>

<p><strong>Departure station: </strong><%= @ticket.start_station.title %></p>

<p><strong>Arrival station: </strong><%= @ticket.end_station.title %></p>

<p><strong>Passenger name: </strong><%= @ticket.passenger_name %></p>

<p><strong>Passenger passport: </strong><%= @ticket.passenger_passport %></p>
