<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции в маршруте:</strong>
</p>
<p>
  <% if @route.railway_stations.empty? %>
      станций в маршруте нет
<% else %>
    <ul>
      <% @route.railway_stations.each do |station| %>
          <li><%= station.title %></li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
      поездов на маршруте нет
<% else %>
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
<% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
