<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции в маршруте:</strong>
</p>
<p>
  <% if @route.railway_stations.empty? %>
      станций в маршруте нет
  <% else %>
    <table>
      <thead>
      <tr>
        <td width="100px">Название</td>
        <td>Позиция</td>
        <td>Прибытие</td>
        <td>Отправление</td>
      </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <%= form_tag update_station_order_arrival_departure_railway_station_path(station), method: :patch do %>
                <td><%= number_field_tag :station_order, station.station_order_in(@route) %></td>
                <td><%= datetime_field_tag :arrival, station.arrival_in(@route) %></td>
                <td><%= datetime_field_tag :departure, station.departure_in(@route) %></td>
                <td><%= hidden_field_tag :route_id, @route.id %></td>
                <td><%= submit_tag "Изменить" %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
      поездов на маршруте нет
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
<% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
