<%= form_for([:admin, train], html: { style: "display: #{hidden ? 'none' : 'block'}"} ) do |f| %>
    <%= render 'common/errors', resource: train %>

    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.radio_button(:ordering, true) %>
      <%= f.label(:ordering_beginning, t('.ordering_from_beginning')) %>
      <%= f.radio_button(:ordering, false) %>
      <%= f.label(:ordering_end,  t('.ordering_from_end')) %>
    </div>

    <div class="field">
      <%= f.label :current_station %>
      <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :route %>
      <%= f.collection_select :route_id, Route.all, :id, :name %>
    </div>

    <div class="actions">
      <%= f.submit "#{train.new_record? ? 'Создать' : 'Изменить'}" %>
    </div>
<% end %>
