<%= form_for([:admin, train]) do |f| %>
    <%= render 'common/errors', resource: train %>

    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.radio_button(:ordering, true) %>
      <%= f.label(:ordering_beginning, "Ordering cars from the beginning of the train") %>
      <%= f.radio_button(:ordering, false) %>
      <%= f.label(:ordering_end, "Ordering cars from the end of the train") %>
    </div>

    <div class="field">
      <%= f.label :current_station, "Текущая станция" %>
      <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :route, "Маршрут" %>
      <%= f.collection_select :route_id, Route.all, :id, :name %>
    </div>

    <div class="actions">
      <%= f.submit "#{train.new_record? ? 'Создать' : 'Изменить'}" %>
    </div>
<% end %>
