<tr>
  <td>
    <div id="train_number_<%= train.id %>">
      <%= train.number %>
    </div>
    <%= render 'form', train: train, hidden: true %>
  </td>
  <td><%= link_to t('.show'), [:admin, train], class: "btn btn-primary btn-xs" %></td>
  <td><%= link_to t('.edit'), '', class: "btn btn-warning btn-xs edit_train",
                  data: { train_id: train.id } %></td>
  <td><%= link_to t('.destroy'), [:admin, train],
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-danger btn-xs" %></td>
</tr>