<tr>
  <td><%= car.number %></td>
  <td><%= link_to 'Show', sti_car_path(car.type, car) %></td>
  <td><%= link_to "See all #{car.type.pluralize}", sti_car_path(car.type) %></td>
  <td><%= link_to 'Edit', sti_car_path(car.type, car, :edit) %></td>
  <td>
    <%= link_to 'Destroy', sti_car_path(car.type, car), method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
